
body {
    background-color: #011f3f;
    color: #fef2bf;
    text-align: center;
}

h1 {
    font-size: 2.8rem;
}

#level-title {
    font-size: 1.8rem;
}

.btn {
    height: 200px;
    width: 200px;
    margin: 2%;
    border: 7px solid #000;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

#green {
    background-color: rgb(1, 154, 1);
}

#red {
    background-color: rgb(246, 0, 0);
}

#yellow {
    background-color: rgb(238, 251, 0);
}

#blue {
    background-color: rgb(52, 45, 250);
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
